#__next #headlessui-menu-button-\:r7\: > div.grow.overflow-hidden.text-ellipsis.whitespace-nowrap.text-left.text-white {
  filter: blur(4px)!important;
}

#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.flex-col.flex-1.transition-opacity.duration-500.overflow-y-auto.-mr-2 > div > div > span:nth-child(1) > div:nth-child(1) > ol {
  filter: blur(4px)!important;
}

#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.flex-col.flex-1.transition-opacity.duration-500.overflow-y-auto > div > div > span:nth-child(1) > div:nth-child(1) > ol {
  filter: blur(4px)!important;
}

button > div.grow.overflow-hidden.text-ellipsis.whitespace-nowrap.text-left.text-white {
  filter: blur(4px)!important;
}